<!-- game-menu.html -->
<ul>
{% for game in games %}
  {% ifequal game.gameday gid %}
  <li id="gid_{{game.gameday}}" class="game-selected">
  {% else %}
    {% ifequal game.game_status.ind "S" %}
  <li id="gid_{{game.gameday}}" class="game">
    {% else %}
  <li id="gid_{{game.gameday}}" class="game" onclick="gotoBoxscore(this)">
    {% endifequal %}
  {% endifequal %}
      <table cellspacing="0">
        <tr>
          <th class="final">{{ game.game_status.status}}</th>
          <th class="rhe">R</th>
          <th>H</th>
          <th>E</th>
        </tr>
        <tr>
          <td class="team">{{game.away_team_name}}</td>
          <td> {{ game.linescore.r.away }}</td>
          <td> {{ game.linescore.h.away }}</td>
          <td> {{ game.linescore.e.away }}</td>
        </tr>
        <tr>
          <td class="team">{{game.home_team_name}}</td>
          <td>{{ game.linescore.r.home }}</td>
          <td>{{ game.linescore.h.home }}</td>
          <td>{{ game.linescore.e.home }}</td>
        </tr>
      </table>
    </li>
{% endfor %}
</ul>