<!-- boxscore-linescore-inprogress.html -->
<div class="linescore">
	<table cellspacing="0">
  		<tr>
    		<th class="final">
		      {% ifequal game.game_status.top_inning "Y" %}
		        Top
		      {% else %}
		        Bot
		      {% endifequal %}
		      {{ game.game_status.inning}}
		    </th>
		  {% ifequal game.game_status.inning "0" %}
		    <th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th>
		  {% else %}
		    {% ifequal game.game_status.inning "1" %}
		        <th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th>
		    {% else %}
		      {% ifequal game.game_status.inning "2" %}
		          <th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th>
		      {% else %}
		        {% ifequal game.game_status.inning "3" %}
		            <th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th>
		        {% else %}
		          {% ifequal game.game_status.inning "4" %}
		              <th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th>
		          {% else %}
		            {% ifequal game.game_status.inning "5" %}
		                <th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th>
		            {% else %}
		              {% ifequal game.game_status.inning "6" %}
		                  <th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th>
		              {% else %}
		                {% ifequal game.game_status.inning "7" %}
		                    <th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th>
		                {% else %}
		                  {% ifequal game.game_status.inning "8" %}
		                      <th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th>
		                  {% else %}
		                    {% ifequal game.game_status.inning "9" %}
		                        <th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th>
		                    {% else %}
		                      {% for inning in game.linescore.innings %}
		                        <th>{{forloop.counter}}</th>
		                      {% endfor %}
		                    {% endifequal %}
		                  {% endifequal %}
		                {% endifequal %}
		              {% endifequal %}
		            {% endifequal %}
		          {% endifequal %}
		        {% endifequal %}
		      {% endifequal %}
		    {% endifequal %}
		  {% endifequal %}
		    <th>R</th>
		    <th>H</th>
		    <th>E</th>
		  </tr>
  <tr>
    <th class="team">{{game.away_team_name}} ({{game.away_win}}-{{game.away_loss}})</th>
  {% for inning in game.linescore.innings %}
    <td>{{inning.away}}</td>
  {% endfor %}
{% ifequal game.game_status.inning "0" %}
    <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
{% else %}
  {% ifequal game.game_status.inning "1" %}
      <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
  {% else %}
    {% ifequal game.game_status.inning "2" %}
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    {% else %}
      {% ifequal game.game_status.inning "3" %}
          <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
      {% else %}
        {% ifequal game.game_status.inning "4" %}
            <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        {% else %}
          {% ifequal game.game_status.inning "5" %}
              <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
          {% else %}
            {% ifequal game.game_status.inning "6" %}
                <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
            {% else %}
              {% ifequal game.game_status.inning "7" %}
                  <td>&nbsp;</td><td>&nbsp;</td>
              {% else %}
                {% ifequal game.game_status.inning "8" %}
                    <td>&nbsp;</td>
                {% else %}
                {% endifequal %}
              {% endifequal %}
            {% endifequal %}
          {% endifequal %}
        {% endifequal %}
      {% endifequal %}
    {% endifequal %}
  {% endifequal %}
{% endifequal %}
    <td class="rhe"> {{ game.linescore.r.away }}</td>
    <td> {{ game.linescore.h.away }}</td>
    <td> {{ game.linescore.e.away }}</td>
  </tr>
  <tr>
    <th class="team">{{game.home_team_name}} ({{game.home_win}}-{{game.home_loss}})</th>
  {% for inning in game.linescore.innings %}
    <td>{{inning.home}}</td>
  {% endfor %}
{% ifequal game.game_status.inning "0" %}
    <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
{% else %}
  {% ifequal game.game_status.inning "1" %}
      <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
  {% else %}
    {% ifequal game.game_status.inning "2" %}
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    {% else %}
      {% ifequal game.game_status.inning "3" %}
          <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
      {% else %}
        {% ifequal game.game_status.inning "4" %}
            <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        {% else %}
          {% ifequal game.game_status.inning "5" %}
              <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
          {% else %}
            {% ifequal game.game_status.inning "6" %}
                <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
            {% else %}
              {% ifequal game.game_status.inning "7" %}
                  <td>&nbsp;</td><td>&nbsp;</td>
              {% else %}
                {% ifequal game.game_status.inning "8" %}
                    <td>&nbsp;</td>
                {% else %}
                {% endifequal %}
              {% endifequal %}
            {% endifequal %}
          {% endifequal %}
        {% endifequal %}
      {% endifequal %}
    {% endifequal %}
  {% endifequal %}
{% endifequal %}
    <td class="rhe">{{ game.linescore.r.home }}</td>
    <td>{{ game.linescore.h.home }}</td>
    <td>{{ game.linescore.e.home }}</td>
  </tr>
</table>
</div>