<!-- boxscore.html -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Boxscore Junkie : Boxscore</title>
  {% ifequal r "on" %}
    <meta http-equiv="refresh" content="{{t}}" />
  {% endifequal %}
  <link rel="stylesheet" type="text/css" href="/css/core.css" />
</head>
<body onload="initPage({{selDay.year}},{{selDay.month}},{{selDay.day}})">
<div id="page">
	{% include "header.html" %}
	{% include "navbar-boxscore.html" %}
	<div id="content">
  		<div id="game-menu">
    		{% include "game-menu.html" %}
  		</div>
		<div id="game-detail">
		    <!-- tabs -->
			<div class="tabs">
				<a class="tab selected" href="boxscore?gid={{game.gameday}}"><span>Boxscore</span></a>
				<a class="tab" href="/playbyplay?gid={{game.gameday}}"><span>Play-by-Play</span></a>
				<a class="tab" href="/pitchbypitch?gid={{game.gameday}}"><span>Pitch-by-Pitch</span></a> 
				<a class="tab" href="/highlights?gid={{game.gameday}}"><span>Highlights</span></a>
			</div>
			<div id="boxscore" class="tab-content">
			    {% ifequal game.game_status.ind "O" %}
			      {% include "boxscore-linescore-final.html" %}
			    {% endifequal %}
			    {% ifequal game.game_status.ind "F" %}
			      {% include "boxscore-linescore-final.html" %}
			    {% endifequal %}
			    {% ifequal game.game_status.ind "I" %}
			      {% include "boxscore-linescore-inprogress.html" %}
			    {% endifequal %}
			    {% ifequal game.game_status.ind "PR" %}
			      {% include "boxscore-linescore-inprogress.html" %}
			    {% endifequal %}
			    {% include "boxscore-scorecard.html" %}
		    </div>
  		</div><!-- end game detail -->
  		<div class="fix"></div>
	</div><!-- end content -->
	{% include "navbar-boxscore.html" %}
</div><!-- end page -->
{% include "footer.html" %}
<script type="text/javascript" src="/js/core.js"></script>
</body>
</html>