<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Boxscore Junkie : Live Boxscore</title>
  {% ifequal r "on" %}
    <meta http-equiv="refresh" content="{{t}}" />
  {% endifequal %}
  <link rel="stylesheet" type="text/css" href="/css/core.css" />
</head>
<body onload="initPage({{selDay.year}},{{selDay.month}},{{selDay.day}})" class="page">
{% include "header-boxscore-live.html" %}
<div id="globalsubnav" class="topbar">
  <div class="topbar-inner">
  You are viewing games played on <a href="scoreboard?year={{selDay.year}}&amp;month={{selDay.month}}&amp;day={{selDay.day}}">{{selDay.month}}/{{selDay.day}}</a>.  check out daily <a href="#">pitch f/x leaders</a> and <a href="#">statistics</a>, or go to the <a href="/scoreboard?year={{prevDay.year}}&amp;month={{prevDay.month}}&amp;day={{prevDay.day}}">previous day</a> or <a href="/scoreboard?year={{nextDay.year}}&amp;month={{nextDay.month}}&amp;day={{nextDay.day}}">next day</a>.  You can also <a href="/calendar">pick a new day</a>.
  </div>
</div>
<div id="middle" class="body">
  <div class="col-1">
    {% include "game-menu.html" %}
  </div>
  <div class="col-2" style="padding-left:20px; width: 600px;">
    <!-- tabs -->
    <div id="boxscorenav">
      <a href="boxscore?year={{selDay.year}}&amp;month={{selDay.month}}&amp;day={{selDay.day}}&amp;gid={{game.gameday}}">boxscore</a> | <a href="/playbyplay?year={{selDay.year}}&amp;month={{selDay.month}}&amp;day={{selDay.day}}&amp;gid={{game.gameday}}">play-by-play</a> | <a href="/pitchbypitch?year={{selDay.year}}&amp;month={{selDay.month}}&amp;day={{selDay.day}}&amp;gid={{game.gameday}}">pitch-by-pitch</a> | <a href="/highlights?year={{selDay.year}}&amp;month={{selDay.month}}&amp;day={{selDay.day}}&amp;gid={{game.gameday}}">highlights</a>
    {% ifequal game.game_status.ind "F" %}
      | <a href="/highlights?year={{selDay.year}}&amp;month={{selDay.month}}&amp;day={{selDay.day}}&amp;gid={{game.gameday}}">highlights</a>
    {% endifequal %}
    </div>
    <!-- linescore -->
    {% ifequal game.game_status.ind "O" %}
      {% include "boxscore-ls-final.html" %}
    {% endifequal %}
    {% ifequal game.game_status.ind "F" %}
      {% include "boxscore-ls-final.html" %}
    {% endifequal %}
    {% ifequal game.game_status.ind "I" %}
      {% include "boxscore-ls-inprogress.html" %}
    {% endifequal %}
    <!-- boxscore -->
    {% include "boxscore-bs.html" %}
  </div>
  <div class="col-3" style="display: none;">
    <!--
    {% include "daily-leaders.html" %}
    -->
  </div>
</div>
{% include "footer.html" %}
<script type="text/javascript" src="/js/core.js"></script>
</body>
</html>