<div id="banner" class="topbar">
  <div class="hdr-left">
    &nbsp;
  </div>
  <div class="hdr-right">
    <div class="bannernav">
      <a href="http://code.google.com/p/boxscore-junkie/">boxscore-junkie project</a> | <a href="/faq.html">f.a.q.</a> | <a href="#">in development</a> | <a href="#">changelog</a>
    </div>
  </div>
</div>
<div id="globalnav" class="topbar">
  <div class="topbar-inner">
    <div style="padding-bottom: 5px; float:left;"><a href="/">home</a> | last update @ {{lastUpdate}} CDT&nbsp;&nbsp;&nbsp;&nbsp;<!-- | <a href="#">ytd pitch f/x leaders (coming soon)</a> | <a href="#">ytd statistics</a>--></div>
    <div style="padding-bottom: 5px; float:right;">refresh:
      {% ifequal t "10" %}
        <a href="/?r=on&amp;t=10" class="on">10</a>
      {% else %}
        <a href="/?r=on&amp;t=10">10</a>
      {% endifequal %}
        |
      {% ifequal t "30" %}
        <a href="/?r=on&amp;t=30" class="on">30</a>
      {% else %}
        <a href="/?r=on&amp;t=30">30</a>
      {% endifequal %}
        |
      {% ifequal t "60" %}
        <a href="/?r=on&amp;t=60" class="on">60</a>
      {% else %}
        <a href="/?r=on&amp;t=60">60</a>
      {% endifequal %}
        |
      {% ifequal r "off" %}
        <a href="/?r=off" class="off">off</a>
      {% else %}
        <a href="/?r=off">off</a>
      {% endifequal %}
     </div>
  </div>
</div>