<div class="game">
<table class="linescore" cellpadding="0" cellspacing="0" rules="all">
  <tr>
    <th class="final">{{ game.game_status.status}}</th>
  {% for inning in game.linescore.innings %}
    <th>{{forloop.counter}}</th>
  {% endfor %}
    <th>R</th>
    <th>H</th>
    <th>E</th>
  </tr>
  <tr>
    <td class="team" style="background: url(/img/mlb_logos/sm/{{game.away_code}}.gif) -10px no-repeat; padding-left: 40px;">{{game.away_name_abbrev}}</td>
  {% for inning in game.linescore.innings %}
    <td>{{inning.away}}</td>
  {% endfor %}
    <td class="rhe"> {{ game.linescore.r.away }}</td>
    <td> {{ game.linescore.h.away }}</td>
    <td> {{ game.linescore.e.away }}</td>
  </tr>
  <tr>
    <td class="team" style="background: url(/img/mlb_logos/sm/{{game.home_code}}.gif) -10px no-repeat; padding-left: 40px;">{{game.home_name_abbrev}}</td>
  {% for inning in game.linescore.innings %}
    {% if inning.home %}
      <td>{{inning.home}}</td>
    {% else %}
      <td>x</td>
    {% endif %}
  {% endfor %}
    <td class="rhe">{{ game.linescore.r.home }}</td>
    <td>{{ game.linescore.h.home }}</td>
    <td>{{ game.linescore.e.home }}</td>
  </tr>
</table>
<table class="linescore-notes" cellpadding="0" cellspacing="0" rules="all">
  <tr>
    <td>
      <strong>W:</strong> {{game.winning_pitcher.last}} ({{game.winning_pitcher.wins}}-{{game.winning_pitcher.losses}}) <strong>L:</strong> {{game.losing_pitcher.last}} ({{game.losing_pitcher.wins}}-{{game.losing_pitcher.losses}})
    {% ifnotequal game.save_pitcher.saves "0" %}
      <strong>S:</strong> {{game.save_pitcher.last}} ({{game.save_pitcher.saves}})
    {% endifnotequal %}
  {% if game.home_runs.homeruns %}
      <br /><strong>HR:</strong> 
      {% for hr in game.home_runs.homeruns %}
        {{hr.last}} 
        {% ifnotequal hr.hr "1" %}
          {{hr.hr}}
        {% endifnotequal %}
        ({{hr.std_hr}})
      {% endfor %}
    {% endif %}
  </td>
  </tr>
  <tr>
    <td class="links">
      <a href="/boxscore?gid={{game.gameday}}">boxscore</a> - <a href="/highlights?year={{selDay.year}}&amp;month={{selDay.month}}&amp;day={{selDay.day}}&amp;gid={{game.gameday}}">video</a> <!--<a href="{{game.id}}">alerts</a>-->
    </td>
  </tr>
</table>
</div>